body,html,div,h1,h2,h3,h4,p,a,ul,li{
	margin:0;
	padding:0;
	list-style: none;
}

/*scroll related*/
html,body{
	height:100%;
}
.app-container{
	width:100%;
	height:100%;
	position:fixed;
	background:yellow;
	z-index:-1;
	transition:all 500ms;
}
.scroll-container{
	height:100%;
	width:10%;
}
.scroll-container .scroll-scene{
	height:100%;
}

.module{
	min-height:500px;
}