.histogram .axis .tick line{
	stroke:rgba(255,255,255,.5);
	stroke-dasharray: 2px 2px;
}
.histogram .axis .tick text{
	fill:white;
}
.histogram .axis .domain{
	display:none;
}

.station-node .axis .tick text{
	fill:rgba(255,255,255,.5);
}
.station-node .axis .tick line{
	stroke:rgba(255,255,255,.5);
}